<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>[[#{head.link.queues}]]</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="d-flex flex-column min-vh-100">

<div class="container-fluid" style="background-color: #CAF2F4">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a th:href="@{/}" class="nav-link">[[#{head.link.home}]]</a></li>
            <li class="nav-item"><a th:href="@{/queue/all/page/1}" class="nav-link active" aria-current="page">[[#{head.link.queues}]]</a></li>
            <li class="nav-item"><a th:href="@{/user/add/queue}" class="nav-link">[[#{head.link.add.queue}]]</a></li>
            <li class="nav-item"><a th:href="@{/user}" class="nav-link">[[#{head.link.user}]]</a></li>
        </ul>
    </header>
</div>

<main>
    <div class="container flex-grow-1">
        <form class="d-flex py-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Пошук черги">
            <button class="btn btn-outline-success" type="submit">[[#{button.find}]]</button>
        </form>
        <table class="table py-3 table-bordered table-striped text-center" style="margin: 20px">
            <thead class="table-info">
            <tr>
                <th scope="col">id</th>
                <th scope="col">[[#{user}]]</th>
                <th scope="col">[[#{queue.buttons}]]</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="Queue : ">
                <td th:text=""></td>
                <td th:text=""></td>
                <td>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                        <form>
                            <button type="button" class="btn btn btn-outline-info btn-rounded">[[#{button.queue.info}]]</button>
                        </form>
                        <form th:action="@{'/admin/train/relevant/' + ${train.id}}" method="post">
                            <button type="submit" class="btn btn-outline-warning btn-rounded">
                                [[#{admin.button.block}]]
                            </button>
                        </form>
                        <form id="delForm" th:action="@{'/admin/train/delete/' + ${train.id}}" method="post">
                            <button type="submit" th:attr="data-id = ${train.id}"
                                    class="btn btn-outline-danger btn-rounded open-modal"></i>[[#{admin.button.delete}]]
                            </button>
                        </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<div th:include="footer::foot"></div>

</body>
</html>