<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>[[#{head.link.queues}]]</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="d-flex flex-column min-vh-100">

<div class="container-fluid" style="background-color: #CAF2F4">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a th:href="@{/}" class="nav-link">[[#{head.link.home}]]</a></li>
            <li class="nav-item"><a th:href="@{/queue/all/page/1}" class="nav-link">[[#{head.link.queues}]]</a></li>
            <li class="nav-item"><a th:href="@{/user/add/queue}" class="nav-link">[[#{head.link.add.queues}]]</a></li>
            <li class="nav-item"><a th:href="@{/user}" class="nav-link active" aria-current="page">[[#{head.link.user}]]</a></li>
        </ul>
    </header>
</div>

<main>
    <div class="container flex-grow-1">
        <form class="d-flex py-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Пошук черги">
            <button class="btn btn-outline-success" type="submit">[[#{button.find}]]</button>
        </form>
        <table class="table py-3 table-bordered table-striped text-center" style="margin: 20px">
            <thead class="table-info">
            <tr>
                <th scope="col">
                    <a th:href="@{'/admin/all/users/page/' + ${pageNumber} + '?direction=' + ${reverseDirection} + '&sort=id'}">
                        id
                    </a>
                </th>
                <th scope="col">
                    <a th:href="@{'/admin/all/users/page/' + ${pageNumber} + '?direction=' + ${reverseDirection} + '&sort=username'}">
                        <!--                        Host-->
                        [[#{user.username}]]
                    </a>
                </th>
                <th scope="col">
                    <a th:href="@{'/admin/all/users/page/' + ${pageNumber} + '?direction=' + ${reverseDirection} + '&sort=userRole'}">
                        <!--                        Назва черги-->
                        [[#{user.role}]]
                    </a>
                </th>
                <th scope="col">
                    <a th:href="@{'/admin/all/users/page/' + ${pageNumber} + '?direction=' + ${reverseDirection} + '&sort=userEmail'}">
                        <!--                        Кількість вільних місць-->
                        [[#{user.login}]]
                    </a>
                </th>
                <th scope="col">
                    <!--                    Запис-->
                    [[#{user.status}]]
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${userDTOList}">
                <td th:text="${user.userId}"></td>
                <td th:text="${user.userName}"></td>
                <td th:text="${user.userRole}"></td>
                <td th:text="${user.userEmail}"></td>
                <td>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                        <form>
                            <button type="submit" name="queueName" class="btn btn-outline-primary btn-rounded">[[#{button.queue.info}]]
                            </button>
                        </form>
                        <th:block th:if="${user.userRole} == 'USER'">
                            <form th:action="@{'/admin/set/user/status/' + ${user.userName}}" method="post">
                                <button type="submit"
                                        th:class="${user.isActive} == true ? 'btn btn-outline-danger' : 'btn btn-outline-success'"
                                        th:text="${user.isActive} == true ? #{admin.button.block} : #{admin.button.unblock}"
                                        th:value="${pageNumber}"></button>
                            </form>
                            <form th:action="@{'/admin/delete/user/' + ${user.userName}}" method="post">
                                <button type="submit" class="btn btn btn-outline-info btn-rounded">[[#{admin.button.delete}]]</button>
                            </form>
                        </th:block>

                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <th:block th:if="${pageNumber}>1">
            <li class="page-item">
                <a class="page-link"
                   th:href="@{'/admin/all/users/page/' + ${1}+ '?direction=' + ${direction} + '&sort=' + ${sort}}">[[#{counter.first}]]</a>
            </li>
        </th:block>
        <th:block th:unless="${pageNumber}>1">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">[[#{counter.first}]]</a>
            </li>
        </th:block>
        <!-- Previous -->
        <th:block th:if="${pageNumber}>1">
            <li class="page-item">
                <a class="page-link"
                   th:href="@{'/admin/all/users/page/' + ${pageNumber - 1}+ '?direction=' + ${direction} + '&sort=' + ${sort}}">[[#{counter.previous}]]</a>
            </li>
        </th:block>
        <th:block th:unless="${pageNumber}>1">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">[[#{counter.previous}]]</a>
            </li>
        </th:block>
        <!-- f -->
        <th:block th:if="${pageable.getTotalPages()} <= 10">
            <th:block th:each="i : ${#numbers.sequence(1,pageable.getTotalPages())}">
                <th:block th:if="${i} == ${pageNumber}">
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">[[${i}]]</span>
                    </li>
                </th:block>
                <th:block th:unless="${i} == ${pageNumber}">
                    <li class="page-item">
                        <a class="page-link"
                           th:href="@{'/admin/all/users/page/' + ${i}+ '?direction=' + ${direction} + '&sort=' + ${sort}}">[[${i}]]</a>
                    </li>
                </th:block>
            </th:block>
        </th:block>

        <th:block th:if="${pageable.getTotalPages()} >  10">
            <th:block th:if="${pageNumber <= 5 || pageNumber > pageable.getTotalPages()-4}">
                <li th:each="i : ${#numbers.sequence(1,5)}"
                    th:class="${pageNumber != i ? 'page-item' : 'page-item active'}">
                    <a class="page-link"
                       th:href="@{'/admin/all/users/page/' + ${i}+ '?direction=' + ${direction} + '&sort=' + ${sort}}">[[${i}]]</a>
                </li>

                <a class="page-link"
                   th:href="@{'/admin/all/users/page/' + '6'+ '?direction=' + ${direction} + '&sort=' + ${sort}}">...</a>

                <li th:each="i : ${#numbers.sequence(pageable.getTotalPages()-4,pageable.getTotalPages())}"
                    th:class="${pageNumber != i ? 'page-item' : 'page-item active'}">
                    <a class="page-link"
                       th:href="@{'/admin/all/users/page/' + ${i}+ '?direction=' + ${direction} + '&sort=' + ${sort}}">[[${i}]]</a>
                </li>
            </th:block>

            <th:block th:if="${pageNumber > 5 && pageNumber < pageable.getTotalPages()-4}">
                <li th:each="i : ${#numbers.sequence(1,5)}"
                    th:class="${pageNumber != i ? 'page-item' : 'page-item active'}">
                    <a class="page-link"
                       th:href="@{'/admin/all/users/page/' + ${pageNumber - 5}+ '?direction=' + ${direction} + '&sort=' + ${sort}}">...</a>
                </li>
            </th:block>

        </th:block>

        <!-- Next -->
        <th:block th:if="${pageNumber}<${pageable.getTotalPages()}">
            <li class="page-item">
                <a class="page-link"
                   th:href="@{'/admin/all/users/page/' + ${pageNumber + 1}+ '?direction=' + ${direction} + '&sort=' + ${sort}}">[[#{counter.next}]]</a>
            </li>
        </th:block>
        <th:block th:unless="${pageNumber}<${pageable.getTotalPages()}">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">[[#{counter.next}]]</a>
            </li>
        </th:block>

        <th:block th:if="${pageNumber}<${pageable.getTotalPages()}">
            <li class="page-item">
                <a class="page-link"
                   th:href="@{'/admin/all/users/page/' + ${pageable.getTotalPages()}+ '?direction=' + ${direction} + '&sort=' + ${sort}}">[[#{counter.last}]]</a>
            </li>
        </th:block>
        <th:block th:unless="${pageNumber}<${pageable.getTotalPages()}">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">[[#{counter.last}]]</a>
            </li>
        </th:block>
    </ul>
</nav>

<div th:include="footer::foot"></div>

</body>
</html>