<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Логін</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="d-flex flex-column min-vh-100">

<div class="container-fluid" style="background-color: #CAF2F4">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a th:href="@{/}" class="nav-link">Главная</a></li>
            <li class="nav-item"><a th:href="@{/queue/all/page/1}" class="nav-link">Поточні черги</a></li>
            <li class="nav-item"><a th:href="@{/user/add/queue}" class="nav-link">Додати чергу</a></li>
            <li class="nav-item"><a th:href="@{/user}" class="nav-link">Кабінет користувача</a></li>
        </ul>
    </header>
</div>

<main>
    <form class="w-50 m-auto px-4 py-4 my-3 border rounded" th:action="@{/login}" method="post">
        <h1 class="h3 mb-3 fw-normal ">Вхід</h1>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingLogin" name="username">
            <label for="floatingLogin">Логін</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" name="password">
            <label for="floatingPassword">Пароль</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Логін</button>
    </form>
</main>

<div th:include="footer::foot"></div>

</body>
</html>