<!DOCTYPE html>
<html lang="ua">
<head>
    <title>[[#{title.registration}]]</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="d-flex flex-column min-vh-100">

<div class="container-fluid" style="background-color: #CAF2F4">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a th:href="@{/}" class="nav-link">[[#{head.link.home}]]</a></li>
            <li class="nav-item"><a th:href="@{/queue/all/page/1}" class="nav-link">[[#{head.link.queues}]]</a></li>
            <li class="nav-item"><a th:href="@{/user/add/queue}" class="nav-link ">[[#{head.link.add.queues}]]</a></li>
            <li class="nav-item"><a th:href="@{/user}" class="nav-link">[[#{head.link.user}]]</a></li>
        </ul>
    </header>
</div>

<main>
    <form class="w-50 m-auto px-4 py-4 my-3 border rounded" th:object="${user}" th:action="@{/registration}"
          method="post">
        <h1 class="h3 mb-3 fw-normal ">[[#{registration.form}]]</h1>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingLogin" name="userName" th:field="*{username}">
            <label for="floatingLogin">[[#{user.login}]]</label>
            <span class="validationError"
                  th:if="${#fields.hasErrors('username')}"
                  th:errors="*{username}" style="color: red">
                </span>
            <th:block th:switch="${error}">
                <th:block th:case="'user already exists'">
                    <p th:text="${error}"> </p>
                </th:block>
                <th:block th:case="'password are not the same'">
                    <p th:text="${error}"> </p>
                </th:block>
            </th:block>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingEmail" name="userEmail" th:field="*{userEmail}">
            <label for="floatingEmail">[[#{user.email}]]</label>
            <span class="validationError"
                  th:if="${#fields.hasErrors('userEmail')}"
                  th:errors="*{userEmail}" style="color: red">
                </span>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" name="userPassword"
                   th:field="*{userPassword}">
            <label for="floatingPassword">[[#{user.password}]]</label>
            <span class="validationError"
                  th:if="${#fields.hasErrors('userPassword')}"
                  th:errors="*{userPassword}" style="color: red">
                </span>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingRePassword" name="secondPassword">
            <label for="floatingRePassword">[[#{user.repassword}]]</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">[[#{button.registration}]]</button>
    </form>
</main>

<div th:include="footer::foot"></div>

</body>
</html>